#w800 {
    width: 900px;
}

.reveal .slide-number {
    z-index: 100;
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;
    color: white;
    position: absolute;
    left: 0;
    width: 40px;
    height: 30px;
}

.reveal pre code {
	max-height: 500px;
}


